  /* ヘッダー */
  .site-header{
    display: flex;
    padding: 17px 26.5px;
    position: fixed;
    justify-content: space-between;
    width: 100%;
    z-index: 3;
    background-image: url(../images/pc/header_gradation.png);
    background-size: auto 100%;
    background-repeat: repeat;
  }
  .site-logo img{
    height: 41px;
    width: auto;
  }
  .menu-icon img{
    height: 39px;
    width: auto;
  }