  /* ヘッダー */

  .site-header{
    top:calc(-100vh + 95px);
    padding: 0 0 25px;
    position: fixed;
    width: 100%;
    z-index: 999;
    background-color: transparent;
    height: 100vh;
    text-align: center;
    flex-direction: column;
    justify-content: space-between;
    display: flex;
    transition: 0.3s;
  }
  .site-header.open{
    top: 0;
    background-color: #102148;
    transition: 0.3s;
  }
  .site-icon{
    display: flex;
    justify-content: space-between;
    background: linear-gradient(to bottom,rgba(0,0,0,0.86),rgba(0,0,0,0));
    padding: 14px 16px;

  }
  .site-header.open .site-icon{
    background: transparent;
  }

  .site-logo img{
    height: 41px;
    width: auto;
  }

  .menu-icon{
    height: 39px;
    width: auto;
    cursor: pointer;
  }

.menu {
    color: #fff;
    list-style: none;
}
.menu li {
    padding: 10px 0;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
}
.menu li  a{
  color: #ffffff;
  text-decoration: none;
}
.menu li  a:hover{
  opacity: 0.8;
}
.menu li .menu_stext{
    font-size: 13px;
    font-weight: bold;
}


@media screen and (min-width:1200px) {
  .menu{
    text-align: left;
    padding: 0 0 0 139px;
  }
  .menu li {
    padding: 10px 20px;
    display: inline-block;
  }
  .site-header.open{
    height: 240px;
  }
}
