
body {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #000000;
  font-family: "ヒラギノ角ゴ Pro W6" , "Hiragino Kaku Gothic Pro" , "Meiryo UI" , "メイリオ" , Meiryo , "ＭＳ Ｐゴシック" , "MS PGothic" , sans-serif;
}
img{
  max-width:100%;
}
p {
  font-size:14px;
  line-height:25px;
  font-weight: bold;
}
.aboutus_body{
  background-image: url(../images/aboutus/background_image1.png);
  background-size: cover;
  background-position: 80%;
  background-repeat:no-repeat;
  background-attachment: fixed;
  text-align: center;
}
.business_body{
  background-image: url(../images/business/background_image2.png);
  background-size: cover;
  background-position: center;
  background-repeat:no-repeat;
  background-attachment: fixed;
  text-align: center;
}
.employment_body{
  background-image: url(../images/employment/background_image3.png);
  background-size: cover;
  background-position: center;
  background-repeat:no-repeat;
  background-attachment: fixed;
  text-align: center;
}
.companyinfo_body{
  background-image: url(../images/companyinfo/background_image4.png);
  background-size: cover;
  background-position: center;
  background-repeat:no-repeat;
  background-attachment: fixed;
  text-align: center;
}
.news_body{
  background-image: url(../images/news/background_image5.png);
  background-position: top;
  background-repeat:no-repeat;
  background-attachment: fixed;
  text-align: center;
}
.partnerfreelance_body{
  background-image: url(../images/partnerfreelance/background_image6.png);
  background-position: top;
  background-repeat:no-repeat;
  background-attachment: fixed;
  text-align: center;
}
.contact_body{
  background-image: url(../images/contact/background_image7.png);
  background-position: top;
  background-repeat:no-repeat;
  background-attachment: fixed;
  text-align: center;
}

.about_footer{
  font-size: 11px;
  line-height: 14px;
  color: #FFFFFF;
  margin-top: 50px;
}
.footer_info{
  background-image: url(../images/common_lower/sp_footer_wave.png);
  background-repeat: no-repeat;
  text-align: left;
  padding-bottom: 80px;
}
.footer_black{
  background-color: #000000;
  text-align: center;
}
.footer_img{
  margin: 0 auto ;
  padding: 36px 0 30px;
}
.footer_white{
  margin: 0 80px 28px;
}
.footer_white p{
  text-align: left;
  font-size: 11px;
  line-height: 27px;
  color: #FFFFFF;
}
.copylight{
  font-size: 11px;
  line-height: 30px;
  color: #5F5F5F;
  padding-bottom: 40px;
  margin-bottom: 0;
}
.interview_footer{
  background-color: #000000;
}
.pc_page1{
<<<<<<< HEAD
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
=======
  max-width:100% ;
  padding: 8px;
>>>>>>> html_sakusei
}
.top_topic1{
  padding-top: 123px;
}
.top_topic1 img{
  text-align: center;
  height:145px;
}
.dace_logo1{
  margin:73px 0 188px;
}
.member{
 position: relative;
}
.member img{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.colred{
  color: #B70000;
  font-size: 16px;
  line-height: 20px;
  font-weight: bold;
}
.pc_page3{
  width: 100%;
  background-color: #B70000;
  text-align: center;
  padding-top: 46px;
  padding-bottom: 54px;
}
.pc_page4{
  background-color: #B70000;
  text-align: center;
  padding: 0 16px 29px;
}
.pc_page5{
  width: 100%;
  padding: 0 8px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  }
.page4_interview{
  width: 100%;
  background-color: #FFFFFF;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 54px;
}
.page1_img{
  text-align: center;
}
.page1_img img{
  width: 100%;
  height: 232px;
}
.page1_img p{
  text-align: left;
  padding: 0 12px;
}
.page1_image1{
  margin-bottom: 75px;
}
.page1_image2{
  margin-bottom: 60px;
}
.page1_image3{
  margin-bottom: 50px;
}
.page_back{
  background-color: #FFFFFF;

}
.page1_midashi{
  font-size: 20px;
  margin: 40px 0;
}
.page1_red{
  background-color: #B70000;
  color: #FFFFFF;
  padding:36px 29px 37px 33px;
  font-size: 20px;
}
.page1_red span{
  font-size: 15px;
}
.pc_page2{
  width: 100%;
  padding: 0 8px;
  }
.top_topic2 img{
  text-align: center;
  height:145px;
}
.top_topic2 .business{
  height:146px;
}
.top_topic2 .business_top{
  height:263px;
}
.business{
    margin-top: 75px;
}

.top_topic3 img{
  text-align: center;
  height:145px;
}
.top_topic3 .employment{
  height:146px;
}
.top_topic3 .employ_top{
  height:263px;
}
.employment{
  margin-top: 75px;
}
.top_topic4{
  background-color: #B70000;
  text-align: center;
}
.top_topic4 img{
  margin: 48px 0 75px 0;
  height:146px;
}

.top_topic6 img{
  margin: 48px 0 75px;
  height:146px;
}
.top_topic7 img{
  margin: 48px 0 75px;
  height:186px;
}
.topic7_main{
  margin-bottom: 20px;
}
.top_topic8{
padding: 48px 0 61px;
}
.top_topic8 img{
  margin: 0 auto;
  height:160px;
}
.top_topic10 img{
  margin: 48px 0 75px;
  height:146px;
}
.page2_jigyou{
  text-align: center;
  font-size: 20px;
  padding-top: 40px;
}
.business_top{
  margin-top: 45px;
  margin-bottom: 90px;
}
.employ_top{
  margin-top: 45px;
  margin-bottom: 90px;
}

.page2_text{
  margin-bottom: 40px;
  padding-right: 13px;
  padding-left:  13px;
}
.page2_text p{
  text-align: left;
  margin-bottom: 50px;
}
.page2_text .koumoku{
  padding:0 4px;
}
.zisseki .row{
padding: 0;
}
.zisseki .col-4{
  padding: 0 8px;
}
.zisseki .col-8{
  padding: 0 5px 0 35px;
}
.zisseki .gijutsu{
  margin-bottom: 26px;
}
.zisseki p{
  font-size: 24px;
  margin-bottom: 30px;
}
.zisseki .col-4 .first_topic{
  font-size: 11px;
  display:block;
  height:32px;
  margin:1em 0;
  padding-top: 5px;
  background-color:  #9F0000;
  color: #FFFFFF;
  line-height:18px;
  border-radius:25px;
  text-decoration:none;
  text-align:center;
}
.zisseki .col-4 p{
  width: 100%;
  min-width: 114px;
  font-size: 11px;
  display:block;
  height:30px;
  border-color: #9F0000;
  border-style: solid;
  line-height:18px;
  border-radius:25px;
  text-decoration:none;
  text-align:center;
  padding: 5px 12px 0;
}
.zisseki .col-8 p{
border-bottom: solid 1px;
margin-bottom: 9px;
padding-bottom: 8px;
font-size: 11px;
line-height: 14px;
text-align: left;
}
.zisseki h5{
  font-size: 9px;
  font-weight: bold;
  display:block;
  height:40px;
  margin:1em 0;
  margin-bottom: 17px;
  color: #FFFFFF;
  background-color: #102148;
  line-height:18px;
  padding-top: 8px;
  text-decoration:none;
  text-align:center;
}
.kaihatsu{
  color: #FFFFFF;
  background-color: #102148;
  text-align: center;
  margin-top: 90px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 48px;
  padding-top: 52px;
}
.kaihatsu_koutei{
  margin:0 8px;
}
.kaihatsu .midashi{
  font-size: 20px;
  line-height:25px;
}
.business_ex{
  width: 130px;
  font-size: 16px;
  line-height: 30px;
  margin-top: 33px;
  margin-left: auto;
  margin-right: auto;
  border-bottom: solid 1px #FFF;
}
.kaihatsu_img{
  margin-top: 14px;
  margin-bottom: 26px;
}
.mail_3 button{
  max-width:100%;
  height: 56px;
  padding: 0 60px 0;
  margin-bottom: 25px;
  border: 0;
  background-color: #62A7E2;
  background-image: url(../images/common_lower/yazirusi.svg);
  background-repeat: no-repeat;
  background-position: 90% 50%;
  text-decoration: none;
}
.white{
    color: #FFFFFF;
    font-weight: bold;
}
.mail_3 .white{
  font-size: 12px;
}
.mail_3 a:hover {
  text-decoration: none;
}
.page3_daikoukai{
  background-image: url(../images/common_lower/long_waves.png);
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  text-align: center;
  margin-bottom: 30px;
}
.page3_daikoukai img{
  height:269px;
}
.hukidashi img{
  margin: 0 auto 86px;
}
.hukidashi p{
  margin: 27px 0 40px 0;
  color: #FFFFFF;
  font-size: 28px;
  line-height: 40px;
  letter-spacing: 0.5px;
}
.page3_toiawase p{
color:#FFFFFF;
}

.white_body{
  padding:0 16px;
}
.zinzai{
  padding-top: 40px;
  padding-bottom: 32px;
  background-color: #FFFFFF;
  max-width: 100%;
  margin-top: 40px;
}
.zinzai img{
  margin: 0;
}
.zinzai_main{
  font-size: 16px;
  line-height: 25px;
  color: #B70000;
}
.topic3{
  font-size: 20px;
  line-height: 25px;
  margin-bottom: 50px;
}
.ouboyoko{
  margin-top: 40px;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #FFFFFF;
  width:100%;
  margin-left: auto;
  margin-right: auto;
}
.ouboyoko table{
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
}
.ouboyoko table td {
  padding: 10px 12px 10px 12px;
}
.ouboyoko table span{
  font-size: 9px;
  line-height: 18px;
}
 .table_left{
   font-size: 12px;
   line-height: 15px;
 }
 .oubo_main{
   font-size: 12px;
   line-height: 15px;
 }
 .pc_page3 .center{
   margin:0 auto;
 }
 .toiawase2{
   margin: 39px 0 67px;
 }
 .toiawase3{
   margin: 63px 0 55px 0;
 }
.Montserrat{
  font-family: 'Montserrat';
  font-size: 29px;
  line-height: 55px;
  margin-bottom: 0;
}
.page3_interview{
  padding-bottom: 28px;
  background-color: #FFFFFF;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.crew_interview{
  font-family: 'Montserrat';
  font-size: 14px;
  line-height: 17px;
}
.hundle{
  padding-top: 32px;
}
.yakusyoku{
  color:#B70000;
  font-size: 11px;
  line-height: 11px;
  font-weight: bold;
  margin-bottom: 0;
  padding-bottom: 5px;
}
.nyusya{
  color: #000000;
  font-size: 9px;
  line-height: 9px;
  font-weight: bold;
  margin-bottom: 0;
  padding-bottom: 8px;
}
.janame{
  color: #000000;
  font-size: 12px;
  line-height: 12px;
  font-weight: bold;
  margin-bottom: 0;
  padding-bottom: 4px;
}
.enname{
  color: #000000;
  font-size: 9px;
  line-height: 9px;
  font-weight: bold;
  margin-bottom: 0;
  padding-bottom: 35px;
  font-family: 'Montserrat';
}
.hatarakikata{
  max-width: 100%;
  padding: 20px;
}
.last_hatarakikata{
  margin-bottom: 10px;
  color: #FFFFFF;
}
.top_topic4 img{
  margin: 75px 0 52px 0;
  height:186px;
}
.pc_page4 .col-12{
  padding:0;
}
.bassui{
  padding: 0 25px;
  text-align: left;
}
.interview_midashi{
  font-size: 16px;
  line-height: 20px;
  color:#B70000;
}
.hitokoto{
background-color: #FFB4B4;
padding: 40px 13px;
text-align: left;
margin-top: 60px;
margin-bottom: 40px;
}
.hitokoto img{
  height: 84px;
}
.hitokoto .col-8{
  padding-left: 0;
}
.hitokoto .col-4{
  padding: 0;
}
.page4_midashi1{
  text-align: center;
  padding: 40px 0 44px;
  font-size: 20px;
}
.page4_backtop {
  background-image: url(../images/common_lower/yazirusi_black_r.svg);
  background-repeat: no-repeat;
  background-position: 75% 30%;
  text-decoration: none;
  padding-bottom: 38px;
}

.page4_backtop a:hover p{
  text-decoration: none;
}
.page4_backtop a:hover {
  text-decoration: none;
}
.page4_backtop p{
  color: #000000;
  margin-bottom: 0;
}

.top_topic5 .companyinfo_pic{
  margin-top: 123px;
  height:146px;
}
.top_topic5 .companyinfo_top{
  margin-top: 52px;
  margin-bottom: 48px;
  height:263px;
}
.company_image{
  padding: 58px 4px 30px;
}
.company_image img{
  margin-bottom: 10px
}
.company_info{
  padding: 0 16px;
  margin-left: auto;
  margin-right: auto;
}
.kigyou_info{
  font-size: 18px;
  line-height: 30px;
}
.company_info .red{
  font-size: 20px;
  color:#B70000;
}
.company_info .col-12{
  padding: 0;
}
.company_info1 td{
  font-size: 14px;
  padding-left: 12px;
  font-weight: bold;
  line-height: 25px;
}
.iframe-wrap {
  position: relative;
  max-width: 100%;
  padding-top: 66%; /* = height ÷ width × 100 */
  margin: 12px 0;
}
.iframe-wrap iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.border-r p{
  margin: 0;
}
.access_info{
  font-size: 11px;
  line-height: 17px;
}
.torihiki{
  font-size: 14px;
  line-height: 25px;
  margin-bottom: 20px;
}
.torihiki td{
  font-weight: bold;
}
.enkaku_midashi{
  font-size: 24px;
  line-height: 29px;
  margin-top: 68px;
  margin-bottom: 34px;
  text-align: center;
}
.enkaku p{
  font-size: 14px;
  line-height: 30px;
  margin: 0;
}
.enkaku span{
  color: #B70000;

}
.page5_last{
  padding: 80px 0 46px 0;
}
.page5_last a{
  color: #000000;
}
.pc_page6{
margin-left: auto;
margin-right: auto;
padding:0 8px;
}
.page6_news{
width:100%;
margin-left: auto;
margin-right: auto;
padding: 0 8px;
text-align: left;
}
.page6_news .container p{
  color: #000000;
}
.page6_news .news_image{
  width: 100%;
  min-width: 90px;
  height: 90px;
}
.page6_news .row{
  margin-bottom: 20px;
  justify-content: space-between;
  border-bottom: solid 1px;
  border-bottom-color: #707070;
}
.page6_news .col-8{
  padding-left:9px;
  padding-right: 9px;
}
.page6_news .col-4{
  padding-left: 0;
}
.page6_ichiran{
  font-size: 15px;
  line-height: 25px;
  padding-top: 29px;
}
.days{
  margin: 0;
  font-size: 11px;
  line-height: 18px;
}
.pc_page6 .news_topic{
  line-height: 20px;
}
.pc_page6 a:hover p{
  text-decoration: none;
}
.pc_page6 a:hover {
  text-decoration: none;
}
.listorder{
  text-align: right;
  margin-bottom: 25px;
}
.pull_order{
  font-size: 12px;
  line-height: 29px;
  padding-right: 12px;
  color: #707070;
  text-align: right;
}
.page6_next{
  color: #000000;
}
.page6_next p{
  text-align: right;
  padding-bottom: 27px;
}
.pc_page7{
text-align: left;
margin-left: auto;
margin-right: auto;
background-color: #FFFFFF;
max-width: 359px;
padding: 75px 29px 26px;
}
.page7_news{
margin-left: auto;
margin-right: auto;
}
.page7_news .news_image{
  width: 302px;
  margin: 13px 0 25px 0;
}

.page7_back{
  color: #000000;
}
.page7_back p{
  margin-top: 69px;
  margin-bottom: 0;
}
.page7_midashi{
  font-size: 20px;
  line-height: 25px;
}
.pc_page8{
margin-left: auto;
margin-right: auto;
background-color: #FFFFFF;
max-width: 343px;
padding:46px 20px 57px;
}
.page8_recruit{
text-align: left;
margin-left: auto;
margin-right: auto;
}
.page8_recruit .text-center{
  margin-bottom: 40px;
}
.page8_midashi{
  color:#B70000;
  font-size: 16px;
  line-height: 16px;
}
.page8_toiawase{
  padding-top:24px;
  color: #FFFFFF;
  text-align: center;
}
.mail{
  width:191px;
  height: 40px;
  font-size: 13px;
  line-height: 25px;
  margin: 0 auto;
  padding-top: 8px;
  background-color: #B70000;
  background-image: url(../images/common_lower/mail_logo.svg);
  background-repeat: no-repeat;
  background-position: 10% 50%;
  text-decoration: none;
}
.pagetop_topic9{
  padding-top: 88px;
}
.pc_page9{
margin-left: auto;
margin-right: auto;
background-color: #FFFFFF;
max-width: 343px;
padding:44px 18px 54px;
}
.page9_kitei{
  margin-left: auto;
  margin-right: auto;
}
.top_topic9{
font-size: 20px;
line-height: 25px;
color: #B70000;
text-align: center;
padding-bottom: 34px;
}
.page9_midashi{
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}
.page9_main p{
  font-size: 13px;
  line-height: 20px;
  margin-bottom: 24px;
}
.pc_page10{
margin-left: auto;
margin-right: auto;
width: 100%;
padding:0 18px;
}
.pc_page10 label{
  font-weight: bold;
}
.page10_contact{
background-color: #FFFFFF;
margin-left: auto;
margin-right: auto;
text-align: left;
padding:46px 20px 36px;
}
.page10_contact span{
  font-size: 11px;
  line-height: 18px;
  color: #B70000;
}
.page10_midashi{
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  margin-top: 26px;
}
.inline{
  margin:54px 0 27px;
}
.page10_contact .select{
  width: 100%;
  margin-left:auto;
  margin-right: auto;
}
.page10_contact .small_form{
  width:100%;
  height:50px;
  margin-left:auto;
  margin-right: auto;
  margin-bottom: 25px;
  border-radius: .25rem;
}
.page10_contact .big_form{
  width:100%;
  height:214px;
  margin-left:auto;
  margin-right: auto;
  margin-bottom: 36px;
  border-radius: .25rem;
}
.page10_red{
  margin-bottom: 22px;
  font-size: 14px;
  color:#B70000;
}
.page10_contact .button{
  background: #0637A7;
  color: #FFFFFF;
  height:39px;
  border: 0;
  margin: 0 auto;
  padding: 0 15px;
}
.pc_page11{
width: 100%;
padding:0 15px;
margin: 0 auto;
text-align: left;
}
.page11_contact{
  padding: 52px 18px 51px;
  margin: 0 auto;
}
.page11_contact .kakunin{
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  margin-bottom: 45px;
}


.my-radio {
  position: relative;
  display: block; /* 縦並びに */
  margin: 0.5em 0; /* 前後のスペース */
  padding-left: 28px;
  cursor: pointer;
  user-select: none;
}
  /* inputは非表示にする */
  input {
    display: none;
}

/* 常に表示する円 */
.radio-mark {
  position: absolute;
  top: 0; /* 上からの位置 */
  left: 0;
  height: 32px; /* 幅 */
  width: 32px; /* 幅 */
  border: solid 2px #000; /* 線 */
  border-radius: 50%;
  box-sizing: border-box;
}
  /* 選択時に重ねる円 */
  .radio-mark:after {
    content: "";
    position: absolute;
    background: #000; /* 色 */
    border-radius: 50%;
    top: 5px;
    bottom: 5px;
    left: 5px;
    right: 5px;
    opacity: 0; /* 透明にしておく */
  }

/* 選択されたとき */
.my-radio input:checked +
.radio-mark:after {
    opacity: 1; /* 透明を解除 */
  }

.my-radio p{
  padding-top: 5px;
  margin-left: 14px;
  font-size: 18px;
  line-height: 25px;
}
.page11_radio{
  margin-left:10px;
  margin-bottom: 30px;
}
.page11_red{
  font-size: 16px;
  color: #B70000;
  line-height: 30px;
  margin-bottom:0;
}
.page11_main{
  font-size: 18px;
  line-height: 30px;
}
.button_lr{
  display: flex;
  justify-content: space-between;
}

.page11_button_l{
height: 45px;
margin-top: 44px;
padding: 0 19px;
background-color: #FFFFFF;
}
.page11_button_r{
  border:none;
  background: #0637A7;
  color: #FFFFFF;
  padding: 0 23px;
  height: 45px;
  margin-top: 44px;
}
.toiawase11{
  font-size: 16px;
  line-height: 30px;
}
.pc_page12{
margin-left: auto;
margin-right: auto;
width: 100%;
padding:0 18px;
}
.pc_page12 .text-center{
  padding: 52px 20px 51px;
}
.finished{
  font-size: 20px;
  line-height: 25px;
  margin-bottom: 47px;
}
.page12_backtop{
  margin-top: 31px;
}
.page12_backtop p{
  color: #000000;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 22px;
}

.page12_backtop a:hover p{
  text-decoration: none;
}
.page12_backtop a:hover {
  text-decoration: none;
}
