p{
  font-size: 16px;
  line-height: 30px;
  font-weight: bold;
}
.footer_class{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.footer_info{
  background-image: url(../images/common_lower/pc_footer_wave.png);
  background-repeat: no-repeat;
  text-align: left;
  padding-bottom: 80px;
}
.about_footer{
  font-size: 13px;
  line-height: 14px;
  padding-top: 30px;
}
.footer_white{
  margin: 0 70px 28px;
}
/* ここからaboutus */
.pc_page1{
  margin-left: auto;
  margin-right: auto;
  width:100%;
  padding: 0 35px;
}
.top_topic1 img{
  margin-bottom: 275px;
  margin-top: 252px;
  height:230px;
}
.member img{
  margin-left: auto;
  margin-right: auto;
}
.page1_red{
  font-size: 20px;
  line-height: 36px;
  padding:64px 80px 64px 120px;
}
/* about usのorder */
.order1{
  order: 2;
}
.order2{
  order: 1;
  padding-right: 0;
  padding-left: 25px;
}
.page1_img img{
  margin-bottom: 100px;
}
.page1_img p{
  padding-left: 15px;
  padding-right: 15px;
}
.page_back1{
  padding-bottom: 50px;
}

/* ここからbusiness */
.pc_page2{
width: 100%;
margin-left: auto;
margin-right: auto;
padding: 0 35px;
text-align: center;
}
.top_topic2 img{
  margin-top: 178px;
}
.top_topic2 .business{
  height:200px;
}
.top_topic2 .business_top{
  height:350px;
}
.zisseki .col-4 .first_topic{
  font-size: 14px;
  height:36px;
  margin:1em 0;
  line-height:18px;
  padding-top: 7px;
}
.zisseki .col-4 p{
  width: 100%;
}

/* ここからemployment */
.top_topic3 img{
  margin-top: 178px;
}
.top_topic3 .employment{
  height:200px;
}
.top_topic3 .employ_top{
  height:350px;
}
.page3_daikoukai{
  padding-bottom: 45px;
}
.white_body{
  padding:0 66px;
}
.zinzai{
  margin: 45px 0 80px;
  padding-top: 80px;
  padding-bottom: 77px;
}
.ouboyoko{
  padding-top: 86px;
  padding-bottom: 67px;
  width: 100%;
}
.page3_interview{
  padding-bottom: 54px;
  width: 100%;
}
.page3_interview .row{
  margin:0 100px;
}
.hatarakikata{
  min-width: 433px;
}

.mail_3 button{
  max-width:100%;
  height: 67px;
  padding: 0 60px 0;
}

.mail_3 .white{
  font-size: 18px;
}
/* ここからinterview */
.pc_page4{
  padding: 0 50px;
}
.page4_interview{
  margin-bottom: 72px;
}
.page4_backtop {
  background-position: 65% 32%;
}
.hitokoto{
padding: 40px 52px;
margin-top: 66px;
margin-bottom: 62px;
}
.hitokoto img{
  height: 164px;
}
.bassui{
  padding: 0 42px;
}

/* ここからcompanyinfo */
.pc_page5{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0 35px;
  text-align: center;
}
.top_topic5 .companyinfo_pic{
  height:200px;
  margin-top: 178px;
  margin-bottom: 90px;
}
.top_topic5 .companyinfo_top{
  height:350px;
  margin-top: 178px;
  margin-bottom: 90px;
}
.company_info{
  width: 100%;
  padding: 0 90px;
}
.company_info .col-12{
  padding: 0 22px 0 0;
}
.company_info1 td{
  font-size: 16px;
  padding-left: 27px;
  line-height: 30px;
}
.company_info1 th{
  font-size: 16px;
  line-height: 30px;
}
.border-r{
  border-right: solid 1px;
  border-bottom-color: #707070;
}

/* ここからnewslist */
.pc_page6{
padding: 0 50px;
}
.page6_news{
  padding: 0 22px;
}
.page6_news .news_image{
  min-width: 150px;
}
.page6_news .row{
  padding-bottom: 12px;
  margin-bottom: 15px;
}
.page6_news .col-4{
  padding-right: 0;
  padding-left: 8px;
}

/* ここからnewspage */
.pc_page7{
  max-width: 668px;
  padding: 53px 0 36px
}
.page7_news{
  max-width: 520px;
}

/* ここからPrtner-Freelance */
.pc_page8{
max-width: 668px;
padding:80px 0 77px;
}
.page8_recruit{
max-width: 520px;
}
.page8_recruit .text-center{
  margin-bottom: 64px;
}

/* ここからテレワーク */
.pc_page9{
  max-width: 668px;
  margin-top: 115px;
  padding:80px 0 92px;
}
.page9_kitei{
  max-width: 520px;
}

/* ここからcontactform */
.top_topic10 img{
  margin: 75px 0 68px;
  height:156px;
}
.pc_page10{
  padding:0 35px;
}
.page10_contact{
width: 100%;
padding:74px 60px 70px;
}
.page10_contact span{
  font-size: 16px;
  line-height: 30px;
}
.pc_page10 .down_group{
  padding:0 40px;
}
.page10_contact .big_form{
  margin-bottom: 30px;
}

/* ここからcontactconfirm */
.pc_page11{
width: 100%;
padding:0 35px ;
}
.page11_contact{
padding: 68px 75px 69px;
width:100%;
}
.page11_contact .kakunin{
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 64px;
}
.page11_button_l{
margin-top: 32px;
}
.page11_button_r{
  margin-top: 31px;
}

/* ここからcontactfibished */
.pc_page12{
padding: 0 50px;
}
.pc_page12 .text-center{
  padding: 68px 20px 67px;
}
