p{
  font-size: 16px;
  line-height: 30px;
  font-weight: bold;
}
.footer_class{
  width: 768px;
  margin-left: auto;
  margin-right: auto;
}
.footer_info{
  background-image: url(../images/common_lower/pc_footer_wave.png);
  background-repeat: no-repeat;
  text-align: left;
  padding-bottom: 80px;
}
.about_footer{
  font-size: 13px;
  line-height: 14px;
  padding-top: 30px;
}
/* ここからaboutus */
.pc_page1{
  width: 768px;
}
.top_topic1 img{
  margin-bottom: 275px;
  margin-top: 252px;
  height:230px;
}
.member img{
  width: 768px;
}
.page1_red{
  font-size: 20px;
  line-height: 36px;
  padding:64px 20px 64px 200px;
}
/* about usのorder */
.order1{
  order: 2;
}
.order2{
  order: 1;
  padding-right: 0;
  padding-left: 25px;
}
/* about usここまで */
.page1_img img{
  margin-bottom: 100px;
}
.page1_img p{
  padding-left: 15px;
  padding-right: 15px;
}
.page_back1{
  padding-bottom: 50px;
}

/* ここからbusiness */
.pc_page2{
width: 768px;
}
.top_topic2 img{
  margin-top: 178px;
}
.top_topic2 .business{
  height:200px;
}
.top_topic2 .business_top{
  height:350px;
}
.zisseki .col-4 .first_topic{
  font-size: 14px;
  height:36px;
  margin:1em 0;
  line-height:18px;
  padding-top: 7px;
}
.zisseki .col-4 p{
  width: 200px;
}

/* ここからemployment */
.top_topic3 img{
  margin-top: 178px;
}
.top_topic3 .employment{
  height:200px;
}
.top_topic3 .employ_top{
  height:350px;
}
.page3_daikoukai{
  padding-bottom: 45px;
}
.zinzai{
  margin: 45px auto 80px auto;
  width: 768px;
  padding-top: 80px;
  padding-bottom: 77px;
}
.ouboyoko{
  padding-top: 86px;
  padding-bottom: 67px;
  width: 768px;
}
.page3_interview{
  padding-bottom: 54px;
  width: 768px;
}
.page3_interview .row{
  margin:0 100px;
}
.hatarakikata{
  width: 433px;
}
.page4_interview{
  width: 668px;
  margin-bottom: 72px;
}
.hitokoto{
padding: 40px 52px;
margin-top: 66px;
margin-bottom: 62px;
}
.hitokoto img{
  height: 164px;
}
.bassui{
  padding: 0 42px;
}
