p{
  font-size: 16px;
  line-height: 30px;
  font-weight: bold;
}
.footer_class{
  width: 1088px;
  margin-left: auto;
  margin-right: auto;
}
.footer_info{
  background-image: url(../images/common_lower/pc_footer_wave.png);
  background-repeat: no-repeat;
  text-align: left;
  padding-bottom: 80px;
}
.about_footer{
  font-size: 13px;
  line-height: 14px;
  padding-top: 30px;
}
.pc_left{
  text-align: left;
}
.pc_right{
  padding-left: 190px;
}
.footer_img{
  margin:39px 0 21px;
  padding:0;
}
.copylight{
  font-size: 11px;
  line-height: 30px;
  color: #5F5F5F;
  text-align: left;
  padding-bottom: 27px;
  margin-bottom: 0;
}
.footer_white{
  margin:28px 0 27px;
}
.footer_white p{
  width: 207px;
  text-align: left;
  font-size: 13px;
  line-height: 30px;
  color: #FFFFFF;
}
.page_back1{
  padding-bottom: 68px;
}
.member img{
  width: 1088px;
}
.bgred{
  padding: 62px 312px;
}
.page1_midashi{
  font-size: 24px;
  margin: 80px 0;
}
.colred{
  font-size: 20px;
  margin-top: 40px;
}
.top_topic1{
  padding-top: 0;
}
.top_topic1 img{
margin-bottom: 275px;
margin-top: 252px;
height:283px;
}
.dace_logo1{
height: 230px;
}
.pc_page1{
width: 1088px;
}
.page1_red{
font-size: 24px;
line-height: 45px;
padding: 64px 316px;
}
.page1_red span{
font-size: 19px;
}
.page1_img p{
padding-left: 25px;
padding-right: 25px;
}
.page1_img img{
margin-left: 10px;
margin-bottom: 66px;
padding-right: 20px;
width: 504px;
height: 347px;
}
.order1{
order: 2;
}
.order2{
order: 1;
padding-right: 0;
padding-left: 40px;

}
.order22{
padding-left: 40px;
}
.top_topic2 img{
margin-top: 178px;
}
.top_topic2 .business{
height:283px;
}
.top_topic2 .business_top{
height:525px;
}
.page2_jigyou{
font-size: 24px;
padding: 90px 0 90px 0;
}
.pc_page2{
width: 1088px;
}
.page2_text{
margin-bottom: 60px;
padding-right: 150px;
padding-left: 150px;
}
.page2_text p{
margin-top: 20px;
margin-bottom: 50px;
}
.page2_text .koumoku{
padding:0 20px;
}
.toiawase2{
margin: 80px 0;
}
.zisseki .row{
margin-left: 92px;
margin-right: 92px;
}
.zisseki p{
font-size: 24px;
margin-bottom: 77px;
}
.zisseki .gijutsu{
margin-bottom: 91px;
}
.zisseki .col-4 .first_topic{
font-size: 14px;
height:36px;
margin:1em 0;
line-height:18px;
padding-top: 7px;
}
.zisseki .col-4 p{
width: 261px;
font-size: 14px;
height:40px;
margin:1em 0;
padding-top: 7px;
}
.zisseki .col-8 p{
margin-bottom: 28px;
padding-bottom: 14px;
font-size: 13px;
line-height: 18px;
}
.zisseki h5{
font-size: 14px;
height:36px;
margin:1em 0;
margin-bottom: 30px;
letter-spacing: 0.3px;
padding-top: 10px;
}
.kaihatsu{
margin-top: 107px;
padding-bottom: 66px;
padding-top: 72px;
}
.kaihatsu .row{
margin: 0 120px;
}
.kaihatsu_koutei{
margin-left:77px;
}
.kaihatsu .midashi{
font-size: 24px;
line-height:29px;
}
.business_ex{
margin-top: 62px;
}
.kaihatsu_img{
margin-top: 16px;
margin-bottom: 24px;
}
.top_topic3 img{
margin-top: 178px;
}
.top_topic3 .employment{
height:283px;
}
.top_topic3 .employ_top{
height:525px;
}
.pc_page3{
padding-top: 68px;
padding-bottom: 102px;
}
.page3_daikoukai{
background-image: url(../images/common_lower/long_waves.png);
background-repeat: no-repeat;
background-position: 80%;
text-align: center;
margin-bottom: 125px;
}
.page3_daikoukai img{
height:611px;
}
.hukidashi p{
margin: 60px 0;
color: #FFFFFF;
font-size: 41px;
line-height: 59px;
letter-spacing: 0.5px;
}
.hukidashi img{
margin: 0 auto 40px;
}
.mail_3{
width:359px;
height: 67px;
margin: 0 auto;
padding:20px 0;
margin-bottom: 25px;
}
.zinzai{
margin: 45px auto 80px auto;
width: 1088px;
padding-top: 80px;
padding-bottom: 77px;
}
.zinzai_main{
font-size: 20px;
line-height: 35px;
margin-top: 60px;
padding: 0;
}
.ouboyoko{
padding-top: 86px;
padding-bottom: 67px;
width: 1088px;
}
.topic3{
font-size: 24px;
line-height: 29px;
margin-bottom: 80px;
}
.ouboyoko table td {
padding: 20px 0 22px 16px;
}
.ouboyoko table span{
font-size: 12px;
line-height: 25px;
}
.table_left{
 font-size: 16px;
line-height: 20px;
 width: 260px;
}
.oubo_main{
 width: 462px;
 font-size: 16px;
 line-height: 25px;
}
.page3_interview{
 padding-bottom: 94px;
 width: 1088px;
}
.page3_interview .row{
 margin:0 100px;
}

.Montserrat{
 font-size: 48px;
 line-height: 91px;
}
.crew_interview{
 font-size: 24px;
 line-height: 29px;
}
.yakusyoku{
 font-size: 16px;
 line-height: 16px;
 padding-bottom: 6px;
}
.nyusya{
 font-size: 13px;
 line-height: 13px;
 padding-bottom: 10px;
}
.janame{
 font-size: 18px;
 line-height: 18px;
 padding-bottom: 6px;
}
.enname{
 font-size: 13px;
 line-height: 13px;
 padding-bottom: 0;
}
.toiawase3{
 margin: 80px 0 62px 0;
}
.hatarakikata{
 width: 433px;
}
.pc_page4{
 padding-bottom: 79px;
}
.page4_interview{
 width: 1088px;
 margin-bottom: 72px;
}
.bassui{
 padding: 0 92px;
}
.page4_midashi1{
 padding: 65px 0 48px 0;
 font-size: 24px;
}
.hitokoto{
padding: 40px 182px;
margin-top: 66px;
margin-bottom: 62px;
}
.hitokoto img{
 height: 164px;
}
.page4_backtop {
 background-position: 59% 25%;
 padding-bottom: 70px;
}
.interview_midashi{
 font-size: 20px;
 line-height: 30px;
}
.company_image{
 padding: 40px 17px 68px;
}
.company_image .col-md-6{
 padding: 6px;
}
.pc_page5{
 width: 1088px;
}
.top_topic5 img{
margin-bottom: 92px;
}
.top_topic5 .companyinfo_pic{
margin-top: 252px;
height:283px;
}
.top_topic5 .companyinfo_top{
margin-top: 150px;
height:526px;
}
.company_info{
width: 720px;
}
.company_info .col-12{
padding: 0 22px 0 0;
}
.kigyou_info{
font-size: 24px;
}
.company_info1 td{
font-size: 16px;
padding-left: 27px;
line-height: 30px;
width:500px;
}
.company_info1 th{
font-size: 16px;
line-height: 30px;
}
.iframe-wrap {
position: relative;
width: 100%;
padding-top: 28%; /* = height ÷ width × 100 */
margin: 16px 0;
}
.iframe-wrap iframe {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}
.border-r{
border-right: solid 1px;
border-bottom-color: #707070;
}
.access_info{
font-size: 13px;
line-height: 20px;
}
.torihiki{
font-size: 16px;
line-height: 30px;
margin-bottom: 24px;
}
.torihiki td{
width:400px;
}
.enkaku_midashi{
font-size: 20px;
line-height: 25px;
margin-top: 145px
}
.enkaku p{
font-size: 16px;
line-height: 50px;
margin: 0;
}
.page5_last{
padding: 104px 0;
}
.top_topic6 img{
margin: 75px 0 68px;
height:186px;
}
.pc_page6{
max-width: 1088px;
}
.page6_news .col-8{
padding: 0;
}
.page6_news{
max-width: 905px;
}
.page6_news .news_image{
max-width: 169px;
height:107px;
}
.page6_news .row{
padding-bottom: 12px;
margin-bottom: 15px;
}
.page6_news .col-4{
padding-right: 0;
padding-left: 58px;
}
.page6_ichiran{
font-size: 18px;
line-height: 29px;
padding-top: 76px;
}
.days{
font-size: 14px;
line-height: 18px;
}
.pc_page6 .news_topic{
line-height: 25px;
}
.page6_next p{
padding-bottom: 40px;
}
.topic7_main{
margin-bottom: 24px;
}
.pc_page7{
max-width: 1088px;
padding: 73px 0 46px;
}
.page7_news{
max-width: 905px;
}
.page7_news .days{
font-size: 14px;
}
.page7_news .news_image{
width: 483px;
margin: 20px 0 28px 0;
}
.page7_back p{
margin-top: 73px;
}
.page7_midashi{
font-size: 24px;
line-height: 29px;
}
.top_topic8{
padding:  75px 0 68px;
}
.top_topic8 img{
height:186px;
}
.pc_page8{
max-width: 1088px;
padding:80px 0 77px;
}
.page8_recruit{
max-width: 905px;
}
.page8_recruit .text-center{
margin-bottom: 64px;
}
.page8_midashi{
color:#B70000;
font-size: 20px;
line-height: 20px;
}
.page8_toiawase{
padding-top:30px;
}
.mail{
width:265px;
height: 51px;
line-height: 36px;
font-size: 19px;
margin: 0 auto;
padding-top: 8px;
background-position: 10% 50%;
}
.pc_page9{
max-width: 1088px;
margin-top: 115px;
padding:80px 0 92px;
}
.top_topic9{
font-size: 24px;
line-height: 29px;
padding-bottom: 62px;
}
.page9_kitei{
max-width: 905px;
}
.page9_midashi{
font-size: 18px;
line-height: 25px;
}
.page9_main p{
font-size: 15px;
line-height: 25px;
margin-bottom: 40px;
}
.top_topic10 img{
margin: 75px 0 68px;
height:186px;
}
.pc_page10{
max-width: 1088px;
padding:74px 0 70px;
}
.page10_contact{
max-width: 905px;
}
.page10_contact span{
font-size: 12px;
line-height: 30px;
}
.page10_midashi{
font-size: 18px;
line-height: 25px;
margin-top: 60px;
}
.inline{
margin:71px 0 40px 90px;
}
.page10_contact .select{
width: 536px;
}
.page10_contact .small_form{
width:720px;
height:38px;
margin-bottom: 30px;
}
.form-group label{
margin-left: 90px;
}
.page10_contact .big_form{
width:720px;
height:214px;
margin-bottom: 30px;
margin-left: 90px;
}
.page10_red{
margin-bottom: 30px;
font-size: 14px;
}
.page10_contact .button{
width: 166px;
height:44px;
}
.pc_page11{
max-width: 1088px;
padding:68px 0 69px;
}
.page11_contact{
padding: 0;
max-width: 720px;
}
.page11_contact .kakunin{
font-size: 18px;
line-height: 25px;
margin-bottom: 64px;
}
input.radio11 {
transform: scale(2);
}
.page11_radio{
margin-left:10px;
margin-bottom: 34px;
}
.page11_button_l{
width: 96px;
height: 45px;
margin-right: 480px;
margin-top: 32px;
}
.page11_button_r{
width:138px;
height: 45px;
}
.pc_page12{
max-width: 1088px;
padding:68px 0 67px;
}
.finished{
font-size: 18px;
margin-bottom: 53px;
}
.page12_backtop{
margin-top: 53px;
}
}

.site-header{
display: flex;
padding: 17px 26.5px;
position: fixed;
justify-content: space-between;
width: 100%;
z-index: 3;
}
.site-logo img{
height: 41px;
width: auto;
}
.menu-icon img{
height: 39px;
width: auto;
}
aaa