/* 共通 */
div {
  text-align: center;
}
.main section .page_container {
  position: relative;
  top: 25%;
  margin: 0 auto 0;
  max-width: 950px;
  z-index: 3;
}
.more_button{
  margin-top: 39px;
}

/* 背景三角形 */
.test{
  position: fixed;
left: 50%;
top: 150px;
margin-left: -185px;
height: 370px;
width: 370px;
}


  /* ヘッダー */
  .site-header{
    display: flex;
    padding: 17px 26.5px;
    position: fixed;
    justify-content: space-between;
    width: 100%;
    z-index: 3;
  }
  .site-logo img{
    height: 41px;
    width: auto;
  }
  .menu-icon img{
    height: 39px;
    width: auto;
  }

  /* 共通ページ */
  .side_menu{
    position:absolute;
    top:260px;
    right:0;
    width: 100%;
    text-align: right;
    margin-right: 36px;
  }
  .side_menu a{
    color: #FFFFFF;
    font-size: 14px;
    line-height: 29px;
  }

  /* ページ1 */
  .main section.page1 {
    background-image: url(../img/pc/image_01.png);
    background-size: contain;
  }
  .main section.page1 .scroll_down{
    margin: 100px auto 0;
  }
  .page_container_fotter{
    position: relative;
    top: 57%;
    max-width: 898px;
    z-index: 3;
    text-align: left;
  }

  /* ページ2 */
  .main section.page2 {
    background-image: url(../img/pc/image_02.png);
    background-size: contain;
  }
  .page2_textbox{
    margin-top: 31px;
  }
  .page2_subtitle{
    color: #ffffff;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 23px;
  }
  .page2_text{
    color: #ffffff;
    font-size: 16px;
  }
  .page2_text + .page2_text{
    margin-top: 40px;
  }


  /* ページ3 */
  .main section.page3 {
    background-image: url(../img/pc/image_03.png);
    background-size: contain;
  }
  .page3_text{
    color: #ffffff;
    font-size: 14px;
    margin-top: 12px;
  }

  /* ページ4 */
  .main section.page4 {
    background-image: url(../img/pc/image_04.png);
    background-size: contain;
  }
  .page4_img{
    margin-top: -75px;
  }
  .page4_text{
    color: #ffffff;
    font-size: 16px;
    margin-top: 12px;
    font-weight: bold;
  }


  /* ページ5 */
  .main section.page5 {
    background-image: url(../img/pc/image_05.png);
    background-size: contain;
  }
  .page5_img{
    margin-top: -75px;
  }
  .page5_subtitle{
    font-weight: bold;
    font-size: 20px;
    color: #ffffff;
    text-align: left;

  }
  .page5_textbox > div{
    text-align: left;
    color: #ffffff;
  }
  .page5_text{
    color: #ffffff;
    font-size: 16px;
    margin-top: 37px;
    font-weight: bold;
  }

  /* ページ6 */
  .main section.page6 {
    background-image: url(../img/pc/image_06.png);
    background-size: contain;
  }
