body[class*='viewing-page-']{
    background-image: url(../images/sp/image_01.png),url(../images/sp/image_02.png),url(../images/sp/image_03.png),url(../images/sp/image_04.png),url(../images/sp/image_05.png),url(../images/sp/image_06.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    transition: 1s;
  }
  body.viewing-page-1{
    background-position: center 0vh,center 100vh,center 100vh,center 100vh,center 100vh,center 100vh;
  }
  body.viewing-page-2{
    background-position: center -195vh,center 0vh,center 100vh,center 100vh,center 100vh,center 100vh;
  }
  body.viewing-page-3{
    background-position: center -195vh,center -195vh,center 0vh,center 100vh,center 100vh,center 100vh;
  }
  body.viewing-page-4{
    background-position: center -195vh,center -195vh,center -195vh,center 0vh,center 100vh,center 100vh;
  }
  body.viewing-page-5{
    background-position: center -195vh,center -195vh,center -195vh,center -195vh,center 0vh,center 100vh;
  }
  body.viewing-page-6{
    background-position: center -195vh,center -195vh,center -195vh,center -195vh,center -195vh,center 0vh;
  }

  // ページ1
  .page_container_fotter{
    left: 0%;
  }
  
  // ページ4
  .page4_text {
    width: 487px;
    margin: 0 auto;
  }
