body.viewing-page-1{
  background-position: center 0vh,center 100vh,center 100vh,center 100vh,center 100vh,center 100vh;
}
body.viewing-page-2{
  background-position: center -260vh,center 0vh,center 100vh,center 100vh,center 100vh,center 100vh;
}
body.viewing-page-3{
  background-position: center -260vh,center -260vh,center 0vh,center 100vh,center 100vh,center 100vh;
}
body.viewing-page-4{
  background-position: center -260vh,center -260vh,center -260vh,center 0vh,center 100vh,center 100vh;
}
body.viewing-page-5{
  background-position: center -260vh,center -260vh,center -260vh,center -260vh,center 0vh,center 100vh;
}
body.viewing-page-6{
  background-position: center -260vh,center -260vh,center -260vh,center -260vh,center -260vh,center 0vh;
}

//ページ1 
.page_container_fotter{
  left: -13%;
}
// ページ2
.page2 > .page_container{
  top:calc(0% + 95px);
}
.page2_titleimg{
  width: 217px;
  height: 173px;
}

// ページ3
.page3 > .page_container{
  top: 5%;
}
.page3_titleimg{
  width: 210px;
  height: 186px;
}

// ページ4
.page4 > .page_container{
  top: 12%;
}
.page4_titleimg{
  width: 298px;
  height: 178px;
}

// ページ5
.page5 > .page_container{
  top: 8%;
}
.page5_titleimg{
  width: 326px;
  height: 162px;
}
.page5_wrap{
  max-width: 400px;
  margin: 0 auto;
}

// ページ6
.page6 > .page_container{
  top: 12%;
}
.page6_titleimg{
  width: 186px;
  height: 145px;
}
.page6_text{
  margin-bottom: 70px;
}


