
body {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #000000;
  font-family: Avenir , "Helvetica Neue" , Helvetica , Arial , Verdana , "游ゴシック" , "Yu Gothic" , "游ゴシック体" , "YuGothic" , "ヒラギノ角ゴ Pro W3" , "Hiragino Kaku Gothic Pro" , "Meiryo UI" , "メイリオ" , Meiryo , "ＭＳ Ｐゴシック" , "MS PGothic" , sans-serif;
}
img{
  max-width:100%;
}
p {
  font-size:14px;
  line-height:1.5em;
  font-weight: bold;
}

.top_topic1{
  background-image: url(../images/background_image1.png);
  background-size: 100%;
  background-position: center;
  text-align: center;
}
.top_topic1 img{
  text-align: center;
  margin-top: 75px;
  height:145px;
}
.dace_logo1{
  margin-bottom: 188px;
}
.member{
 position: relative;
}
.member img{
  width: 100%;
}
.bgred{
  background-color: #B70000;
  color: #FFFFFF;
  padding:37px 34px;
}
.colred{
  color: #B70000;
  font-size: 16px;
  font-weight: bold;
}
.pc_page3{
  background-color: #B70000;
  text-align: center;
}
.page1_img{
  text-align: center;
}
.page1_img img{
  margin-bottom: 60px;
  width: 328px;
  height: 232px;
}
.page1_img p{
  text-align: left;
  padding-left: 35px;
  padding-right: 35px;
}
.page1_back{
  background-color: #FFFFFF;
}
.page2_back{
  background-color: #FFFFFF;
}
.page1_midashi{
  font-size: 20px;
  margin-top: 24px;
  margin-bottom: 44px;
}

.chuou{
  font-size: 20px;
}
.chuou span{
  font-size: 15px;
}

.top_topic1{
  background-image: url(../images/background_image1.png);
  background-size: 100%;
  background-position: center;
  background-size: cover;
  text-align: center;
}
.top_topic1 img{
  text-align: center;
  margin-top: 75px;
  height:145px;
}

.top_topic2{
  background-image: url(../images/background_image2.png);
  background-size: 100%;
  background-position: center;
  background-size: cover;
  text-align: center;
}
.top_topic3{
  background-image: url(../images/background_image3.png);
  background-size: 100%;
  background-position: center;
  background-size: cover;
  text-align: center;
}
.top_topic2 img{
  text-align: center;
  height:145px;
}
.top_topic2 .Business{
  height:146px;
}
.top_topic2 .photo4{
  height:263px;
}
.Business{
    margin-top: 75px;
}
.top_topic3 img{
  text-align: center;
  height:145px;
}
.top_topic3 .Employment{
  height:146px;
}
.top_topic3 .photo11{
  height:263px;
}
.Employment{
  margin-top: 75px;
}
.page2_jigyou{
  text-align: center;
  font-size: 20px;
  padding-top: 40px;
}
.photo4{
  margin-top: 45px;
  margin-bottom: 90px;
}
.photo11{
  margin-top: 45px;
  margin-bottom: 90px;
}
.page2_text{
  margin-bottom: 40px;
}
.page2_text p{
  text-align: left;
}
.zisseki .row{
margin-left: 92px;
}
.zisseki p{
  font-size: 24px;
}
.zisseki .col-3 .first_topic{
  font-size: 14px;
  display:block;
  height:40px;
  margin:1em 0;
  background-color:  #9F0000;
  color: #FFFFFF;
  line-height:18px;
  border-radius:25px;
  text-decoration:none;
  text-align:center;
  padding-top: 10px;
}
.zisseki .col-3 p{
  font-size: 14px;
  display:block;
  height:40px;
  margin:1em 0;
  border-color: #9F0000;
  border-style: solid;
  line-height:18px;
  border-radius:25px;
  text-decoration:none;
  text-align:center;
  padding-top: 10px;
}
.zisseki .col-7 p{
border-bottom: solid 1px;
margin-bottom: 25px;
margin-top: 25px;
font-size: 13px;
text-align: left;
}
.zisseki h5{
  font-size: 14px;
  display:block;
  height:40px;
  margin:1em 0;
  color: #FFFFFF;
  background-color: #102148;
  letter-spacing: 0.3px;
  line-height:18px;
  padding-top: 10px;
  text-decoration:none;
  text-align:center;
}
.page2_toiawase{
  margin-top: 130px;
  color: #FFFFFF;
  text-align: center;
}
.mail{
  width:265px;
  height: 50px;
  margin: 0 auto;
  margin-bottom: 115px;
  padding-top: 15px;
  background-color: #B70000;
text-decoration: none;
}
.mail_3{
  width:359px;
  height: 67px;
  margin: 0 auto;
  padding:13px 0;
  margin-bottom: 25px;
  background-color: #62A7E2;
  background-image: url(../images/yazirusi.svg);
  background-repeat: no-repeat;
  background-position: 90% 50%;
  text-decoration: none;
}

.white{
    color: #FFFFFF;
}
.page3_daikoukai{
  background-image: url(../images/long_waves.png);
  text-align: center;
}
.hukidashi p{
  margin: 60px 0;
  color: #FFFFFF;
  font-size: 41px;
  letter-spacing: 0.5px;
}
.page3_toiawase p{
color:#FFFFFF;
margin-top: 40px;
}
.zinzai{
  margin-top: 45px;
  margin-bottom: 80px;
  background-color: #FFFFFF;
  width: 1088px;
  height: 764px;
  margin-left: auto;
  margin-right: auto;
}
.topic3{
  font-size: 24px;
  padding-top: 86px;
}
.ouboyoko{
  margin-top: 45px;
  padding-bottom: 67px;
  background-color: #FFFFFF;
  width: 1088px;
  margin-left: auto;
  margin-right: auto;
}
.ouboyoko table{
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
}
.ouboyoko table td {
  padding: 20px 0 22px 16px;
}
.ouboyoko table span{
  font-size: 12px;
}
 .table_left{
   width: 260px;
 }
 .toiawase2{
   margin-top: 80px;
   padding-bottom: 80px;
 }
@media screen and (min-width: 768px) {
  p{
    font-size: 16px;
  }
  .member img{
    width: 1088px;
    margin-left: auto;
    margin-right: auto;
  }
  .bgred{
    padding: 62px 312px;
  }
  .page1_midashi{
    font-size: 24px;
    margin-top: 80px;
    margin-bottom: 80px;
  }
  .colred{
    font-size: 20px;
    margin-top: 40px;
  }
.top_topic1 img{
  margin-bottom: 278px;
  margin-top: 178px;
  height:283px;
}
.dace_logo1{
height: 230px;
}
.pc_page1{
  margin-left: auto;
  margin-right: auto;
  width: 1088px;
}
.chuou{
  font-size: 24px;
}
.chuou span{
  font-size: 19px;
}
.page1_img img{
margin-left: 10px;
padding-right: 20px;
  width: 504px;
  height: 347px;
}
.order1{
  order: 2;
}
.order2{
  order: 1;
  padding-left: 40px;
}
.top_topic2 img{
  margin-top: 178px;
}
.top_topic2 .Business{
  height:283px;
}
.top_topic2 .photo4{
  height:525px;
}
.top_topic3 img{
  margin-top: 178px;
}
.top_topic3 .Employment{
  height:283px;
}
.top_topic3 .photo11{
  height:525px;
}
.page2_jigyou{
  font-size: 24px;
  padding: 90px 0 90px 0;
}
.photo4{
  height:525px;
}
.photo11{
  height:525px;
}
.pc_page2{
  width: 1088px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  }
}
.page2_text{
  margin-bottom: 60px;
  padding-right: 50px;
  padding-left: 50px;
}
.page2_text p{
  margin-top: 20px;
  margin-bottom: 45px;
  padding-left: 35px;
}
.kaihatsu{
  margin-top: 107px;
}
.page2_toiawase{
  margin-top: 130px;
}
}
