
body {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #000000;
  font-family: "ヒラギノ角ゴ Pro W6" , "Hiragino Kaku Gothic Pro" , "Meiryo UI" , "メイリオ" , Meiryo , "ＭＳ Ｐゴシック" , "MS PGothic" , sans-serif;
}
img{
  max-width:100%;
}
p {
  font-size:14px;
  line-height:25px;
  font-weight: bold;
}
.aboutus_body{
  background-image: url(../images/background_image1.png);
  background-size: cover;
  background-position: 80%;
  background-repeat:no-repeat;
  background-attachment: fixed;
  text-align: center;
}
.business_body{
  background-image: url(../images/background_image2.png);
  background-size: cover;
  background-position: center;
  background-repeat:no-repeat;
  background-attachment: fixed;
  text-align: center;
}
.employment_body{
  background-image: url(../images/background_image3.png);
  background-size: cover;
  background-position: center;
  background-repeat:no-repeat;
  background-attachment: fixed;
  text-align: center;
}
.companyinfo_body{
  background-image: url(../images/background_image4.png);
  background-size: cover;
  background-position: center;
  background-repeat:no-repeat;
  background-attachment: fixed;
  text-align: center;
}
.newslist_body{
  background-image: url(../images/background_image5.png);
  background-position: top;
  background-repeat:no-repeat;
  background-attachment: fixed;
  text-align: center;
}
.newspage_body{
    background-image: url(../images/background_image5.png);
    background-position: top;
    background-repeat:no-repeat;
    background-attachment: fixed;
    text-align: center;
}
.partnerfreelance_body{
  background-image: url(../images/background_image6.png);
  background-position: top;
  background-repeat:no-repeat;
  background-attachment: fixed;
  text-align: center;
}
.contactform_body{
  background-image: url(../images/background_image7.png);
  background-position: top;
  background-repeat:no-repeat;
  background-attachment: fixed;
  text-align: center;
}
.Contactconfirm_body{
  background-image: url(../images/background_image7.png);
  background-position: top;
  background-repeat:no-repeat;
  background-attachment: fixed;
  text-align: center;
}
.contactfinished_body{
  background-image: url(../images/background_image7.png);
  background-position: top;
  background-repeat:no-repeat;
  background-attachment: fixed;
  text-align: center;
}
.about_footer{
  font-size: 11px;
  line-height: 14px;
  color: #FFFFFF;
  margin-top: 50px;
}
.footer_info{
  background-image: url(../images/sp_footer_wave.png);
  background-repeat: no-repeat;
  text-align: left;
  padding-bottom: 80px;
}
.interview_footer{
  background-color: #000000;
}
.pc_page1{
  margin-left: auto;
  margin-right: auto;
  width: 358px;
}
.top_topic1{
  margin-top: 116px;
}
.top_topic1 img{
  text-align: center;
  height:145px;
}
.dace_logo1{
  margin:73px 0 188px;
}
.member{
 position: relative;
}
.member img{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.colred{
  color: #B70000;
  font-size: 16px;
  line-height: 20px;
  font-weight: bold;
}
.pc_page3{
  width: 100%;
  background-color: #B70000;
  text-align: center;
  padding-top: 46px;
  padding-bottom: 54px;
}
.pc_page4{
  background-color: #B70000;
  text-align: center;
  padding-bottom: 29px;
}
.pc_page5{
  width: 359px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  }
.page4_interview{
  width: 359px;
  background-color: #FFFFFF;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 54px;
}
.page1_img{
  text-align: center;
}
.page1_img img{
  width: 328px;
  height: 232px;
}
.page1_img p{
  text-align: left;
  padding: 0 12px;
}
.page1_image1{
  margin-bottom: 75px;
}
.page1_image2{
  margin-bottom: 60px;
}
.page1_image3{
  margin-bottom: 50px;
}
.page_back{
  background-color: #FFFFFF;

}
.page1_midashi{
  font-size: 20px;
  margin: 40px 0;
}
.page1_red{
  background-color: #B70000;
  color: #FFFFFF;
  padding:36px 29px 37px 33px;
  font-size: 20px;
}
.page1_red span{
  font-size: 15px;
}
.pc_page2{
  width: 359px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  }
.top_topic2 img{
  text-align: center;
  height:145px;
}
.top_topic2 .Business{
  height:146px;
}
.top_topic2 .business_top{
  height:263px;
}
.Business{
    margin-top: 75px;
}
.top_topic3 img{
  text-align: center;
  height:145px;
}
.top_topic3 .Employment{
  height:146px;
}
.top_topic3 .employ_top{
  height:263px;
}
.Employment{
  margin-top: 75px;
}
.top_topic4{
  background-color: #B70000;
  text-align: center;
}
.top_topic4 img{
  margin: 48px 0 75px 0;
  height:146px;
}

.top_topic6 img{
  margin: 48px 0 75px;
  height:146px;
}
.top_topic7 img{
  margin: 48px 0 75px;
  height:186px;
}
.top_topic8{

}
.top_topic8 img{
  margin: 48px auto 61px;
  width: 344px;
  height:160px;
}
.top_topic10 img{
  margin: 48px 0 75px;
  height:146px;
}
.page2_jigyou{
  text-align: center;
  font-size: 20px;
  padding-top: 40px;
}
.business_top{
  margin-top: 45px;
  margin-bottom: 90px;
}
.employ_top{
  margin-top: 45px;
  margin-bottom: 90px;
}

.page2_text{
  margin-bottom: 40px;
  padding-right: 13px;
  padding-left:  13px;
}
.page2_text p{
  text-align: left;
  margin-bottom: 50px;
}

.page2_text .koumoku{
  padding:0 4px;
}
.zisseki .row{
padding: 0;
}
.zisseki p{
  font-size: 24px;
}
.zisseki .col-4 .first_topic{
  font-size: 11px;
  display:block;
  height:32px;
  margin:1em 0;
  padding-top: 5px;
  background-color:  #9F0000;
  color: #FFFFFF;
  line-height:18px;
  border-radius:25px;
  text-decoration:none;
  text-align:center;
}
.zisseki .col-4 p{
  font-size: 11px;
  display:block;
  height:30px;
  border-color: #9F0000;
  border-style: solid;
  line-height:18px;
  border-radius:25px;
  text-decoration:none;
  text-align:center;
  padding-top: 5px;
}
.zisseki .col-8 p{
border-bottom: solid 1px;
margin-bottom: 9px;
font-size: 11px;
line-height: 14px;
text-align: left;
}
.zisseki h5{
  font-size: 11px;
  display:block;
  height:32px;
  margin:1em 0;
  margin-bottom: 17px;
  color: #FFFFFF;
  background-color: #102148;
  line-height:18px;
  padding-top: 7px;
  text-decoration:none;
  text-align:center;
}
.kaihatsu{
  color: #FFFFFF;
  background-color: #102148;
  text-align: center;
  margin-top: 90px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 48px;
  padding-top: 52px;
}
.kaihatsu_koutei{
  margin-left:15px;
}
.kaihatsu .midashi{
  font-size: 20px;
  line-height:25px;
}
.business_ex{
  width: 130px;
  font-size: 16px;
  line-height: 30px;
  margin-top: 33px;
  margin-left: auto;
  margin-right: auto;
  border-bottom: solid 1px #FFF;
}
.kaihatsu_img{
  margin-top: 14px;
  margin-bottom: 26px;
}
.mail_3{
  width:302px;
  height: 56px;
  margin: 0 auto;
  padding-top:15px;
  margin-bottom: 25px;
  background-color: #62A7E2;
  background-image: url(../images/yazirusi.svg);
  background-repeat: no-repeat;
  background-position: 90% 50%;
  text-decoration: none;
}
.white{
    color: #FFFFFF;
}
.page3_daikoukai{
  background-image: url(../images/long_waves.png);
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  text-align: center;
  margin-bottom: 30px;
}
.page3_daikoukai img{
  height:269px;
}
.hukidashi img{
  margin: 0 auto 86px;
}
.hukidashi p{
  margin: 27px 0 40px 0;
  color: #FFFFFF;
  font-size: 28px;
  line-height: 40px;
  letter-spacing: 0.5px;
}
.page3_toiawase p{
color:#FFFFFF;
}
.zinzai{
  margin-top: 40px;
  padding-top: 40px;
  padding-bottom: 32px;
  background-color: #FFFFFF;
  width: 343px;
  margin-left: auto;
  margin-right: auto;
}
.zinzai_main{
  font-size: 16px;
  line-height: 25px;
  color: #B70000;
}
.topic3{
  font-size: 20px;
  line-height: 25px;
}
.ouboyoko{
  margin-top: 40px;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #FFFFFF;
  width: 343px;
  margin-left: auto;
  margin-right: auto;
}
.ouboyoko table{
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
}
.ouboyoko table td {
  padding: 10px 12px 10px 12px;
}
.ouboyoko table span{
  font-size: 9px;
  line-height: 18px;
}
 .table_left{
   font-size: 12px;
   line-height: 15px;
   width: 80px;
 }
 .oubo_main{
   font-size: 12px;
   line-height: 15px;
   width: 248px;
 }
 .pc_page3 .center{
   margin:0 auto;
 }
 .toiawase2{
   margin: 39px 0 67px;
 }
 .toiawase3{
   margin: 63px 0 55px 0;
 }
.Montserrat{
  font-family: 'Montserrat';
  font-size: 29px;
  line-height: 55px;
  margin-bottom: 0;
}
.page3_interview{
  padding-bottom: 28px;
  background-color: #FFFFFF;
  width: 343px;
  margin-left: auto;
  margin-right: auto;
}
.crew_interview{
  font-family: 'Montserrat';
  font-size: 14px;
  line-height: 17px;
}
.hundle{
  padding-top: 32px;
}
.yakusyoku{
  color:#B70000;
  font-size: 11px;
  line-height: 20px;
  font-weight: bold;
}
.nyusya{
  font-size: 9px;
  line-height: 20px;
  font-weight: bold;
}
.janame{
  font-size: 12px;
  line-height: 19px;
  font-weight: bold;
}
.enname{
  font-size: 9px;
  line-height: 20px;
  font-weight: bold;
  font-family: 'Montserrat';
}
.hatarakikata{
  width: 327px;
}
.last_hatarakikata{
  margin-bottom: 10px;
  color: #FFFFFF;
}
.top_topic4 img{
  margin: 75px 0 52px 0;
  height:186px;
}
.pc_page4 .col-12{
  padding:0;
}
.bassui{
  padding: 0 25px;
  text-align: left;
}
.interview_midashi{
  font-size: 16px;
  line-height: 20px;
  color:#B70000;
}
.hitokoto{
background-color: #FFB4B4;
padding: 40px 13px;
text-align: left;
margin-top: 60px;
margin-bottom: 40px;
}
.hitokoto img{
  height: 84px;
}
.hitokoto .col-8{
  padding-left: 0;
}
.hitokoto .col-4{
  padding: 0;
}
.page4_midashi1{
  text-align: center;
  padding: 40px 0 44px;
  font-size: 20px;
}
.page4_backtop {
  background-image: url(../images/yazirusi_black_r.svg);
  background-repeat: no-repeat;
  background-position: 75% 30%;
  text-decoration: none;
  padding-bottom: 38px;
}
.page4_backtop p{
  color: #000000;
  margin-bottom: 0;
}

.top_topic5 .companyinfo_pic{
  margin-top: 123px;
  height:146px;
}
.top_topic5 .companyinfo_top{
  margin-top: 52px;
  margin-bottom: 48px;
  height:263px;
}
.company_image{
  padding: 58px 4px 30px;
}
.company_image img{
  margin-bottom: 10px
}
.company_info{
  padding: 0 28px;
  margin-left: auto;
  margin-right: auto;
}
.kigyou_info{
  font-size: 18px;
  line-height: 30px;
}
.company_info .red{
  font-size: 20px;
  color:#B70000;
}
.company_info .col-12{
  padding: 0;
}
.company_info1 td{
  font-size: 14px;
  line-height: 25px;
  width: 221px;
}
.iframe-wrap {
  position: relative;
  max-width: 100%;
  padding-top: 66%; /* = height ÷ width × 100 */
  margin: 12px 0;
}
.iframe-wrap iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.border-r p{
  margin: 0;
}
.access_info{
  font-size: 11px;
  line-height: 17px;
}
.torihiki{
  font-size: 14px;
  line-height: 25px;
  margin-bottom: 20px;
}
.torihiki td{
  width:176px;
}
.enkaku_midashi{
  font-size: 24px;
  line-height: 29px;
  margin-top: 68px;
  margin-bottom: 34px;
  text-align: center;
}
.enkaku p{
  font-size: 14px;
  line-height: 30px;
  margin: 0;
}
.enkaku span{
  color: #B70000;

}
.page5_last{
  padding: 80px 0 46px 0;
}
.page5_last a{
  color: #000000;
}
.pc_page6{
margin-left: auto;
margin-right: auto;
max-width: 359px;
padding:0;
}
.page6_news{
max-width: 343px;
margin-left: auto;
margin-right: auto;
text-align: left;
}
.page6_news .news_image{
  max-width: 111px;
  height: 90px;
}
.page6_news .row{
  margin-bottom: 20px;
  border-bottom: solid 1px;
  border-bottom-color: #707070;
}
.page6_news .col-8{
  padding-left:9px;
  padding-right: 9px;
}
.page6_news .col-4{
  padding-left: 0;
}
.page6_ichiran{
  font-size: 15px;
  line-height: 25px;
  padding-top: 29px;
}
.days{
  margin: 0;
  font-size: 11px;
  line-height: 18px;
}
.pc_page6 .news_topic{
  line-height: 20px;
}
.saisihn{
  font-size: 12px;
  line-height: 29px;
  color: #707070;
  text-align: right;
}
.page6_next{
  color: #000000;
}
.page6_next p{
  text-align: right;
  padding-bottom: 27px;
}
.pc_page7{
text-align: left;
margin-left: auto;
margin-right: auto;
background-color: #FFFFFF;
max-width: 359px;
padding: 75px 29px 26px;
}
.page7_news{
margin-left: auto;
margin-right: auto;
}
.page7_news .news_image{
  width: 302px;
  margin: 13px 0 25px 0;
}
.page7_news .days{
  font-size: 12px;
  line-height: 18px;
}
.page7_back{
  color: #000000;
}
.page7_back p{
  margin-top: 69px;
  margin-bottom: 0;
}
.page7_midashi{
  font-size: 20px;
  line-height: 25px;
}
.pc_page8{
margin-left: auto;
margin-right: auto;
background-color: #FFFFFF;
max-width: 343px;
padding:46px 20px 57px;
}
.page8_recruit{
text-align: left;
margin-left: auto;
margin-right: auto;
}
.page8_midashi{
  color:#B70000;
  font-size: 16px;
  line-height: 20px;
}
.page8_toiawase{
  padding-top:24px;
  color: #FFFFFF;
  text-align: center;
}
.mail{
  width:191px;
  height: 40px;
  font-size: 13px;
  line-height: 25px;
  margin: 0 auto;
  padding-top: 8px;
  background-color: #B70000;
  background-image: url(../images/mail_logo.svg);
  background-repeat: no-repeat;
  background-position: 10% 50%;
  text-decoration: none;
}
.pc_page9{
margin-left: auto;
margin-right: auto;
background-color: #FFFFFF;
max-width: 343px;
margin-top: 88px;
padding:44px 18px 54px;
}
.page9_kitei{
  margin-left: auto;
  margin-right: auto;
}
.top_topic9{
font-size: 20px;
line-height: 25px;
color: #B70000;
text-align: center;
padding-bottom: 34px;
}
.page9_midashi{
  font-size: 16px;
  line-height: 20px;
  color: #2A354E;
  text-align: center;
}
.page9_main p{
  font-size: 13px;
  line-height: 20px;
}
.pc_page10{
margin-left: auto;
margin-right: auto;
background-color: #FFFFFF;
max-width: 343px;
padding:46px 0 36px;
}
.page10_contact{
max-width: 302px;
margin-left: auto;
margin-right: auto;
text-align: left;
}
.page10_contact span{
  font-size: 11px;
  line-height: 18px;
  color: #B70000;
}
.page10_midashi{
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  margin-top: 26px;
}
.inline{
  margin:54px 0 27px;
}
.page10_contact .select{
  width: 302px;
  margin-left:auto;
  margin-right: auto;
}
.page10_contact .small_form{
  width:302px;
  height:50px;
  margin-left:auto;
  margin-right: auto;
  margin-bottom: 25px;
}
.page10_contact .big_form{
  width:302px;
  height:214px;
  margin-left:auto;
  margin-right: auto;
  margin-bottom: 36px;
}
.page10_red{
  margin-bottom: 22px;
  font-size: 14px;
  color:#B70000;
}
.page10_contact .button{
  background: #0637A7;
  color: #FFFFFF;
  width: 141px;
  height:39px;
  border: 0;
}
.pc_page11{
margin-left: auto;
margin-right: auto;
background-color: #FFFFFF;
max-width: 343px;
padding:52px 0 51px;
text-align: left;
}
.page11_contact{
padding-left: 18px;
padding-right: 18px;
margin-left: auto;
margin-right: auto;
}
.page11_contact .kakunin{
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  margin-bottom: 45px;
}
input.radio11 {
  transform: scale(2);
}
.page11_radio{
  margin-left:10px;
  margin-bottom: 30px;
}
.page11_radio span{
  font-size: 18px;
  line-height: 25px;
}
.page11_red{
  font-size: 16px;
  color: #B70000;
  line-height: 30px;
  margin-bottom:0;
}
.page11_main{
  font-size: 18px;
  line-height: 30px;
}
.page11_button_l{
width: 96px;
height: 45px;
margin-right: 66px;
margin-top: 44px;
background-color: #FFFFFF;
}
.page11_button_r{
  border:none;
  background: #0637A7;
  color: #FFFFFF;
  width:138px;
  height: 45px;
}
.toiawase11{
  font-size: 16px;
  line-height: 30px;
}
.pc_page12{
margin-left: auto;
margin-right: auto;
background-color: #FFFFFF;
max-width: 340px;
padding:52px 20px 51px;
}
.finished{
  font-size: 20px;
  line-height: 25px;
  margin-bottom: 47px;
}
.page12_backtop{
  margin-top: 31px;
}
.page12_backtop p{
  color: #000000;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 22px;
}
@media screen and (min-width: 768px) {
  p{
    font-size: 16px;
    line-height: 30px;
    font-weight: bold;
  }
  .footer_class{
    width: 1088px;
    margin-left: auto;
    margin-right: auto;
  }
  .footer_info{
    background-image: url(../images/pc_footer_wave.png);
    background-repeat: no-repeat;
    text-align: left;
    padding-bottom: 80px;
  }
  .about_footer{
    font-size: 13px;
    line-height: 14px;
    padding-top: 30px;
  }
  .page_back1{
    padding-bottom: 68px;
  }
  .member img{
    width: 1088px;
  }
  .bgred{
    padding: 62px 312px;
  }
  .page1_midashi{
    font-size: 24px;
    margin: 80px 0;
  }
  .colred{
    font-size: 20px;
    margin-top: 40px;
  }
  .top_topic1{
    margin-top: 0;
  }
.top_topic1 img{
  margin-bottom: 275px;
  margin-top: 252px;
  height:283px;
}
.dace_logo1{
height: 230px;
}
.pc_page1{
  width: 1088px;
}
.page1_red{
  font-size: 24px;
  line-height: 45px;
  padding: 64px 316px;
}
.page1_red span{
  font-size: 19px;
}
.page1_img p{
  padding-left: 25px;
  padding-right: 25px;
}
.page1_img img{
margin-left: 10px;
margin-bottom: 66px;
padding-right: 20px;
  width: 504px;
  height: 347px;
}
.order1{
  order: 2;
}
.order2{
  order: 1;
}
.order22{
  padding-left: 40px;
}
.top_topic2 img{
  margin-top: 178px;
}
.top_topic2 .Business{
  height:283px;
}
.top_topic2 .business_top{
  height:525px;
}
.page2_jigyou{
  font-size: 24px;
  padding: 90px 0 90px 0;
}
.pc_page2{
  width: 1088px;
  }
.page2_text{
  margin-bottom: 60px;
  padding-right: 150px;
  padding-left: 150px;
}
.page2_text p{
  margin-top: 20px;
  margin-bottom: 50px;
}
.page2_text .koumoku{
  padding:0 20px;
}
.toiawase2{
  margin: 80px 0;
}
.zisseki .row{
margin-left: 92px;
margin-right: 92px;
}
.zisseki p{
  font-size: 24px;
}
.zisseki .col-4 .first_topic{
  font-size: 14px;
  height:36px;
  margin:1em 0;
  line-height:18px;
  padding-top: 7px;
}
.zisseki .col-4 p{
  font-size: 14px;
  height:40px;
  margin:1em 0;
  padding-top: 7px;
}
.zisseki .col-8 p{
font-size: 13px;
line-height: 18px;
}
.zisseki h5{
  font-size: 14px;
  height:36px;
  margin:1em 0;
  margin-bottom: 30px;
  letter-spacing: 0.3px;
  padding-top: 10px;
}
.kaihatsu{
  margin-top: 107px;
  padding-bottom: 66px;
  padding-top: 72px;
}
.kaihatsu .row{
  margin: 0 120px;
}
.kaihatsu_koutei{
  margin-left:77px;
}
.kaihatsu .midashi{
  font-size: 24px;
  line-height:29px;
}
.business_ex{
  margin-top: 62px;
}
.kaihatsu_img{
  margin-top: 16px;
  margin-bottom: 24px;
}
.top_topic3 img{
  margin-top: 178px;
}
.top_topic3 .Employment{
  height:283px;
}
.top_topic3 .employ_top{
  height:525px;
}
.pc_page3{
  padding-top: 68px;
  padding-bottom: 102px;
}
.page3_daikoukai{
  background-image: url(../images/long_waves.png);
  background-repeat: no-repeat;
  background-position: 80%;
  text-align: center;
  margin-bottom: 125px;
}
.page3_daikoukai img{
  height:611px;
}
.hukidashi p{
  margin: 60px 0;
  color: #FFFFFF;
  font-size: 41px;
  line-height: 59px;
  letter-spacing: 0.5px;
}
.hukidashi img{
  margin: 0 auto 40px;
}
.mail_3{
  width:359px;
  height: 67px;
  margin: 0 auto;
  padding:20px 0;
  margin-bottom: 25px;
}
.zinzai{
  margin: 45px auto 80px auto;
  width: 1088px;
  padding-top: 86px;
  padding-bottom: 77px;
}
.zinzai_main{
  font-size: 20px;
  line-height: 35px;
}
.ouboyoko{
  padding-top: 86px;
  padding-bottom: 67px;
  width: 1088px;
}
.topic3{
  font-size: 24px;
  line-height: 29px;
}
.ouboyoko table td {
  padding: 20px 0 22px 16px;
}
.ouboyoko table span{
  font-size: 12px;
  line-height: 25px;
}
 .table_left{
   font-size: 16px;
  line-height: 20px;
   width: 260px;
 }
 .oubo_main{
   width: 462px;
   font-size: 16px;
   line-height: 25px;
 }
 .page3_interview{
   padding-bottom: 94px;
   width: 1088px;
 }
 .page3_interview .row{
   margin:0 100px;
 }

 .Montserrat{
   font-size: 48px;
   line-height: 91px;
 }
 .crew_interview{
   font-size: 24px;
   line-height: 29px;
 }
 .yakusyoku{
   font-size: 16px;
 }
 .nyusya{
   font-size: 13px;
 }
 .janame{
   font-size: 18px;
 }
 .enname{
   font-size: 13px;
 }
 .toiawase3{
   margin: 80px 0 62px 0;
 }
 .hatarakikata{
   width: 433px;
 }
 .pc_page4{
   padding-bottom: 79px;
 }
 .page4_interview{
   width: 1088px;
   margin-bottom: 72px;
 }
 .bassui{
   padding: 0 92px;
 }
 .page4_midashi1{
   padding: 65px 0 48px 0;
   font-size: 24px;
 }
 .hitokoto{
 padding: 40px 182px;
 margin-top: 66px;
 margin-bottom: 62px;
 }
 .hitokoto img{
   height: 164px;
  }
 .page4_backtop {
   background-position: 59% 25%;
   padding-bottom: 70px;
 }
 .interview_midashi{
   font-size: 20px;
   line-height: 30px;
 }
 .company_image{
   padding: 40px 17px 68px;
 }
 .pc_page5{
   width: 1088px;
  }
.top_topic5 img{
  margin-bottom: 92px;
}
.top_topic5 .companyinfo_pic{
  margin-top: 252px;
  height:283px;
}
.top_topic5 .companyinfo_top{
  margin-top: 150px;
  height:526px;
}
.company_info{
  width: 720px;
}
.company_info .col-12{
  padding: 0 22px 0 0;
}
.kigyou_info{
  font-size: 24px;
}
.company_info1 td{
  font-size: 16px;
  line-height: 30px;
  width:500px;
}
.company_info1 th{
  font-size: 16px;
  line-height: 30px;

}
.iframe-wrap {
  position: relative;
  width: 100%;
  padding-top: 28%; /* = height ÷ width × 100 */
  margin: 16px 0;
}
.iframe-wrap iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.border-r{
  border-right: solid 1px;
  border-bottom-color: #707070;
}
.access_info{
  font-size: 13px;
  line-height: 20px;
}
.torihiki{
  font-size: 16px;
  line-height: 30px;
  margin-bottom: 24px;
}
.torihiki td{
  width:400px;
}
.enkaku_midashi{
  font-size: 20px;
  line-height: 25px;
  margin-top: 145px
}
.enkaku p{
  font-size: 16px;
  line-height: 50px;
  margin: 0;
}
.page5_last{
  padding: 104px 0;
}
.top_topic6 img{
  margin: 75px 0 68px;
  height:186px;
}
.pc_page6{
max-width: 1088px;
}
.page6_news{
max-width: 905px;
}
.page6_news .news_image{
  max-width: 169px;
  height:107px;
}
.page6_news .row{
  padding-bottom: 12px;
  margin-bottom: 15px;
}

.page6_news .col-4{
  padding-left: 50px;
}
.page6_ichiran{
  font-size: 18px;
  line-height: 29px;
  padding-top: 76px;
}
.days{
  font-size: 14px;
  line-height: 18px;
}
.pc_page6 .news_topic{
  line-height: 25px;
}
.page6_next p{
  padding-bottom: 40px;
}
.pc_page7{
max-width: 1088px;
padding: 73px 0 46px;
}
.page7_news{
max-width: 905px;
}
.page7_news .days{
  font-size: 14px;
}
.page7_news .news_image{
  width: 483px;
  margin: 20px 0 28px 0;
}
.page7_back p{
  margin-top: 57px;
}
.page7_midashi{
  font-size: 24px;
  line-height: 29px;
}
.top_topic8 img{
  margin: 75px auto 68px;
  width: 784px;
  height:186px;
}
.pc_page8{
max-width: 1088px;
padding:80px 0 77px;
}
.page8_recruit{
max-width: 905px;
}
.page8_midashi{
  color:#B70000;
  font-size: 20px;
  line-height: 30px;
}
.page8_toiawase{
  padding-top:30px;
}
.mail{
  width:265px;
  height: 51px;
  line-height: 36px;
  font-size: 19px;
  margin: 0 auto;
  padding-top: 8px;
  background-position: 10% 50%;
}
.pc_page9{
max-width: 1088px;
margin-top: 115px;
padding:80px 0 92px;
}
.top_topic9{
font-size: 24px;
line-height: 29px;
padding-bottom: 62px;
}
.page9_kitei{
  max-width: 905px;
}
.page9_midashi{
  font-size: 18px;
  line-height: 25px;
}
.page9_main p{
  font-size: 15px;
  line-height: 25px;
}
.top_topic10 img{
  margin: 75px 0 68px;
  height:186px;
}
.pc_page10{
max-width: 1088px;
padding:74px 0 70px;
}
.page10_contact{
max-width: 905px;
}
.page10_contact span{
  font-size: 12px;
  line-height: 30px;
}
.page10_midashi{
  font-size: 18px;
  line-height: 25px;
  margin-top: 60px;
}
.inline{
  margin:71px 0 40px 90px;
}
.page10_contact .select{
  width: 536px;
}
.page10_contact .small_form{
  width:720px;
  height:38px;
  margin-bottom: 30px;
}
.form-group label{
  margin-left: 90px;
}
.page10_contact .big_form{
  width:720px;
  height:214px;
  margin-bottom: 30px;
}
.page10_red{
  margin-bottom: 30px;
  font-size: 14px;
}
.page10_contact .button{
  width: 166px;
  height:44px;
}
.pc_page11{
max-width: 1088px;
padding:68px 0 69px;
}
.page11_contact{
padding: 0;
max-width: 720px;
}
.page11_contact .kakunin{
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 64px;
}
input.radio11 {
  transform: scale(2);
}
.page11_radio{
  margin-left:10px;
  margin-bottom: 34px;
}
.page11_button_l{
width: 96px;
height: 45px;
margin-right: 480px;
margin-top: 32px;
}
.page11_button_r{
  width:138px;
  height: 45px;
}
.pc_page12{
max-width: 1088px;
padding:68px 0 67px;
}
.finished{
  font-size: 18px;
  margin-bottom: 53px;
}
.page12_backtop{
  margin-top: 53px;
}
}
